:root {
  --linear-gradient-background: linear-gradient(#753682, #bf2e34) fixed;
  --text-color: #fefefe;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
body {
  height: 90vh;
  background: var(--linear-gradient-background);
}
img {
  top: 1.25rem;
  left: 1.25rem;
  width: 3.125rem;
}
.main {
  width: 56.25rem;
  height: 18.75rem;
  border-radius: 0.5625rem;
  overflow: hidden;
  font-size: 12.5rem;
  color: var(--text-color);
}
.hours,
.minutes,
.seconds {
  width: 15.625rem;
  height: 80%;
  margin: auto;
  border-radius: 1.25rem;
  font-size: 12.5rem;
  color: var(--text-color);
}
