$body-background-color: #222;
$text-color: #999;
$correct-color: rgba(0, 255, 0, 0.3);

body {
  color: $text-color;
  background: $body-background-color;
  img {
    top: 1.25rem;
    left: 1.25rem;
    width: 3.125rem;
  }
  form {
    padding: 1.25rem;
    border: 0.125rem solid $text-color;
    border-radius: 1.25rem;
    .input-container {
      input {
        padding: 0.625rem 2.1875rem 0.625rem 1.25rem;
        border: 0.125rem solid $text-color;
        border-radius: 1.25rem;
        margin-bottom: 1.25rem;
        color: $text-color;
        background: transparent;
        &:focus {
          outline: none;
        }
      }
      i {
        position: absolute;
        top: 2rem;
        right: 1.875rem;
        cursor: pointer;
      }
    }
    .contains {
      ul {
        li.active {
          text-decoration: line-through;
          color: $correct-color;
          transition: 0.3s;
        }
      }
    }
  }
  @media (max-width: 28.125rem) {
    form {
      margin: 0.625rem;
      padding: 0.625rem;
    }
  }
}
