:root {
  --body-background-color: #f3effe;
  --border-color: #ddd;
  --active-border-color: #7026ed;
  --wrong-input: #ff0000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: var(--body-background-color);
}
img {
  top: 20px;
  left: 20px;
  width: 50px;
}
.container {
  width: 300px;
}
textarea {
  height: 200px;
  padding: 10px;
  border: 3px solid var(--border-color);
  outline: none;
  resize: none;
}
textarea:focus {
  border: 3px solid var(--active-border-color);
}
span {
  /* position: absolute;
  bottom: 0;
  right: 0; */
  transform: translate(-15px, 30px);
}
