:root {
  --background-color: #222;
  --minutes-color: #fff;
  --seconds-color: #e52a5a;
  --microseconds-color: #39b385;
  --stopwatch-background: #555;
  --button-up-background-color: #ff0000;
  --button-down-background-color: rgb(77, 40, 40);
  --button-down-background-linear-color: linear-gradient(
    180deg,
    var(--button-down-background-color) 0%,
    var(--button-up-background-color) 20%
  );
  --stopwatch-box-shadow-one: rgba(255, 255, 255, 0.05);
  --stopwatch-box-shadow-two: rgba(0, 0, 0, 0.3);
  --stopwatch-box-shadow-three: rgba(0, 0, 0, 0.5);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: var(--background-color);
}
img {
  top: 1.25rem;
  left: 1.25rem;
  height: 2.5rem;
}
.clock {
  z-index: 5;
  width: 25rem;
  aspect-ratio: 1/1;
  border: 0.25rem solid var(--background-color);
  background: var(--background-color);
  box-shadow: 0 -0.3125rem 0.3125rem var(--stopwatch-box-shadow-one),
    inset 0 -0.9375rem 0.9375rem var(--stopwatch-box-shadow-one),
    0 0.9375rem 0.9375rem var(--stopwatch-box-shadow-two),
    inset 0 0.9375rem 0.9375rem var(--stopwatch-box-shadow-two);
}
.clock::after {
  background: var(--background-color);
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 10%;
  z-index: 10;
  box-shadow: 0.625rem 3.125rem 4.375rem var(--stopwatch-box-shadow-two),
    inset 0.3125rem 0.3125rem 0.625rem var(--stopwatch-box-shadow-three),
    inset 0.3125rem 0.3125rem 1.25rem var(--stopwatch-box-shadow-two);
}
.microClock {
  z-index: 2;
  width: 5.625rem;
  height: 5.625rem;
  top: 15%;
  left: 20.5%;
  border: 0.25rem solid var(--background-color);
  background: var(--background-color);
  box-shadow: 0 -0.9375rem 0.9375rem var(--stopwatch-box-shadow-one),
    inset 0 -0.9375rem 0.9375rem var(--stopwatch-box-shadow-one),
    0 0.9375rem 0.9375rem var(--stopwatch-box-shadow-two),
    inset 0 0.9375rem 0.9375rem var(--stopwatch-box-shadow-two);
}
.microClock::after {
  background: var(--microseconds-color);
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 10%;
  z-index: 10;
}
.stopWatch {
  z-index: 9;
  border-radius: 2.5rem;
  transform: translateY(13.75rem);
  font-size: 2.5rem;
  padding-top: 0.625rem;
  width: 50%;
  height: 20%;
  background: var(--stopwatch-background);
  box-shadow: 0.625rem 3.125rem 4.375rem var(--stopwatch-box-shadow-one),
    inset 0rem 1.25rem 0.625rem var(--stopwatch-box-shadow-three),
    inset 0rem -1.25rem 1.25rem var(--stopwatch-box-shadow-three),
    inset 0rem 1.25rem 1.25rem var(--stopwatch-box-shadow-three),
    inset 0rem -1.25rem 1.25rem var(--stopwatch-box-shadow-three);
}
.start {
  z-index: 9;
  width: 2.5rem;
  height: 2.5rem;
  transform: translate(10.9375rem, 1.25rem) rotate(45deg);
  transition: 0.1s all;
  cursor: pointer;
}
.start:active {
  transform: translate(10.625rem, 1.5625rem) rotate(45deg);
}
.start:active .down {
  height: 35%;
}
.up {
  width: 100%;
  z-index: 1;
  height: 50%;
  background: var(--button-up-background-color);
  border-radius: 0.3125rem;
}
.down {
  z-index: 2;
  width: 50%;
  height: 50%;
  background: var(--button-down-background-color);
  background: var(--button-down-background-linear-color);
  margin: 0 auto;
  transition: 0.1s all;
}
.reset {
  z-index: 9;
  width: 2.5rem;
  height: 2.5rem;
  transform: translate(-11.25rem, 1.25rem) rotate(315deg);
  transition: 0.1s all;
  cursor: pointer;
}
.reset:active {
  transform: translate(-10.9375rem, 1.5625rem) rotate(315deg);
}
.reset:active .down {
  height: 35%;
}
.block {
  z-index: 9;
  width: 5rem;
  height: 8.75rem;
  transform: translate(-5.3125rem, -7.8125rem);
}
.circle {
  width: 5rem;
  aspect-ratio: 1/1;
  border: 0.25rem solid var(--background-color);
  background: var(--background-color);
  transform: translateY(1.25rem);
  box-shadow: 0 -0.3125rem 0.3125rem var(--stopwatch-box-shadow-one),
    inset 0 -0.3125rem 0.3125rem var(--stopwatch-box-shadow-one),
    0 0.3125rem 0.3125rem var(--stopwatch-box-shadow-two),
    inset 0 0.3125rem 0.3125rem var(--stopwatch-box-shadow-two);
}
.bottomCircle {
  width: 1.875rem;
  height: 2.5rem;
  border-radius: 0.625rem 0.625rem 0 0;
  border: 0.25rem solid var(--background-color);
  background: var(--background-color);
  transform: translateY(0.125rem);
  box-shadow: 0 -0.3125rem 0.3125rem var(--stopwatch-box-shadow-three),
    inset 0 -0.3125rem 0.3125rem var(--stopwatch-box-shadow-three),
    0 0.3125rem 0.3125rem var(--stopwatch-box-shadow-two),
    inset 0 0.3125rem 0.3125rem var(--stopwatch-box-shadow-two);
  margin: 0 auto;
}
.minuteTable {
  height: 95%;
  left: 49.5%;
  top: 2.5%;
  position: absolute;
  width: 0.5%;
  background: none;
}
.minuteTable .whitePart {
  width: 100%;
  height: 2%;
  background: var(--minutes-color);
}
.minuteTable .blackPart {
  width: 100%;
  height: 96%;
  background: none;
}
.sec {
  z-index: 3;
  height: 40%;
  left: 49.5%;
  top: 10%;
  /* position: absolute; */
  transform-origin: 50% 100%;
  width: 1%;
  background: var(--seconds-color);
  border-radius: 50% 50% 0 0;
  -webkit-box-shadow: 0rem -0.9375rem 1.625rem 0rem var(--seconds-color);
  -moz-box-shadow: 0rem -0.9375rem 1.625rem 0rem var(--seconds-color);
  box-shadow: 0rem -0.9375rem 1.625rem 0rem var(--seconds-color);
}
.microLine {
  height: 30%;
  left: 48.75%;
  top: 20%;
  transform-origin: 50% 100%;
  width: 2.5%;
  z-index: 10;
  background: var(--microseconds-color);
  border-radius: 50% 50% 0 0;
}
.minutes {
  color: var(--minutes-color);
}
.seconds {
  color: var(--seconds-color);
}
.microsecunds {
  color: var(--microseconds-color);
}
